# Virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database


# Environment variables
.env
*.env

# Media uploads
media/

# Static files
staticfiles/
staticroot/

# Logs
*.log

# IDE files
.vscode/
.idea/
